.link-container {
  filter: drop-shadow(0 0 2em red);
  animation: changeDropShadow infinite linear;
  animation-name: changeDropShadow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  will-change: filter;
}

.logo {
  height: 6em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em aliceblue);
}

@media (prefers-reduced-motion: no-preference) {
  .logo.rotate {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes changeDropShadow {
  0% {
    filter: drop-shadow(0 0 2em red);
  }
  33% {
    filter: drop-shadow(0 0 2em green);
  }
  66% {
    filter: drop-shadow(0 0 2em blue);
  }
  100% {
    filter: drop-shadow(0 0 2em red);
  }
}
