#game-page {
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-color: #4e6a54;
  overflow: hidden;
  /* background: url('../../assets/banana-bg-g.png') repeat 0 0;
    background-size: 350px;
    animation: animated 75.0s infinite linear;
    -webkit-animation-direction: alternate; */

  .dealer-half,
  .player-half {
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    > * {
      width: 23%;
      min-height: 50px;
      margin: 0 5%;
    }

    .player-hand,
    .dealer-hand,
    .bet-amount,
    .player-actions {
      border: 1px solid yellow;
      background-color: #35493a;

      button{
        background-color: #4e6a54;
        margin:4px;
        color: #DDDDDD;
        border: 1px solid yellow;
        border-radius: 8px;

        &:disabled{
          color: gray;
          background-color: #35493a;
        }

        &:hover{
          transform: scale(1.1);
        }
      }
    }

    .discard-pile,
    .deck {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
  }

  .player-hand,
  .dealer-hand {
    height: 25%;
    /* width: 10%;
        min-width: 100px; */
    border-radius: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    > * {
      margin: 0 10px;
      transform-origin: center;
    }
  }

  .player-actions {
    display: flex;
    justify-content: space-evenly;
    > * {
      width: 30%;
      color: black;
    }
  }

  .results-modal{
    width: 100vw;
    height: 80vh;
    background-color: #BBBBBB55;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .inner-modal{
    width: 30%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: green;
    display:flex;
    justify-content: center;
    align-items: center;
  }
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@keyframes animated {
  100% {
    background-position: 5000px 5000px;
  }
}
